<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drink</key>
	<dict>
		<key>Alcoolisés</key>
		<dict>
			<key>EPO</key>
			<string>Eau + pastis + orgea</string>
			<key>Cuba Libre</key>
			<string>Coca + Rhum et citron</string>
			<key>Péroquet</key>
			<string>Pastis + menthe + eau</string>
		</dict>
		<key>Non Alcoolisés</key>
		<dict>
			<key>Diabolo menthe</key>
			<string>Menthe + limonade</string>
		</dict>
	</dict>
	<key>starter</key>
	<dict>
		<key>Français</key>
		<dict/>
		<key>Catalan</key>
		<dict>
			<key>Cargolade</key>
			<string>Il se présente sous la forme d&apos;escargots grillés avec leur coquille, sel poivre, ou saindoux et herbes. La recette est fort simple, elle consiste à laisser &quot;baver&quot; les escargots sur une grille pendant la cuisson au feu de bois. Quand ceux-ci ne bavent plus, le plat est cuit. Ce plat se déguste avec de l&apos;aïoli.</string>
		</dict>
	</dict>
	<key>meal</key>
	<dict>
		<key>Provençal</key>
		<dict>
			<key>Le pistou</key>
			<string>Le terme pistou désigne en provençal le pilon du mortier qui sert a faire la préparation, et non pas le basilic qui se dit baseli . La pommade s&apos;obtient en mixant les ingrédients : ail, tomate ébouillantée et pelée (facultatif), la totalité du basilic. On ajoute alors l&apos;huile en mélangeant comme pour une mayonnaise, délicatement.</string>
			<key>Bouillabaisse</key>
			<string>Parez et écaillez les poissons. Mettez dans une casserole 3 l d&apos;eau à bouillir. Dans une autre grande casserole mettez l&apos;oignon émincé, l&apos;ail écrasé, les tomates pelées, épépinées et hachées, le persil, thym et fenouil, 1 morceau d&apos;écorce d&apos;orange. Déposez dessus tous les poissons sauf le saint-pierre, ajoutez un demi verre d&apos;huile d&apos;olive ; Recouvrez avec l&apos;eau bouillante et cuisez à feu vif boui pendant 5 minutes. Ajoutez le saint-pierre et continuez à bouillir à feu vif le tout pendant encore 5 minutes. Retirez du feu abaisso et enlevez les poissons.</string>
		</dict>
		<key>Italien</key>
		<dict>
			<key>Pizza</key>
			<string>La pizza margherita, la plus simple : une cuiller à soupe de tomates, de la mozzarella écrasée avec les mains, une ou deux feuilles de basilic frais, un soupçon d&apos;huile d&apos;olive, et au four, et consommer rapidement, elle ne demande pas plus.</string>
		</dict>
	</dict>
	<key>dessert</key>
	<dict>
		<key>Français</key>
		<dict>
			<key>Crème brûlée</key>
			<string>Mélangez, soigneusement, les oeufs entiers avec les jaunes, le sucre et la vanille sans faire mousser votre mélange. Ajoutez peu à peu la crème fleurette. Versez votre préparation dans un plat à gratin ou dans des ramequins et faites cuire votre crème, à 130° C, pendant 40 min. Laissez refroidir  dans le four entrouvert, puis placez au réfrigérateur et laissez reposer environ 12 heures. Juste avant de servir, saupoudrez la crème froide de cassonade et faites-la caraméliser sous le gril du four, en la surveillant constamment : le caramel doit roussir.</string>
		</dict>
	</dict>
</dict>
</plist>
